.review-modal {
  background: white;
  display: none;
  height: 100vh;
  padding: 24px;
  position: absolute;
  top: 0;
  width: 100%;
}

.review-modal--is-open {
  display: block;
}

.rating-form {
  display: inline-flex;
}

.rating-form__label {
  cursor: pointer;
  padding: 0 2px;
}

.rating-form__star {
  background-image: url("../images/star-full.svg");
  background-size: cover;
  display: block;
  height: 30px;
  width: 30px;
}

.rating-form__input {
  left: -9999px !important;
  position: absolute !important;
}

.rating-form__input:checked ~ .rating-form__label .rating-form__star {
  background-image: url("../images/star.svg");
}

.rating-form:hover .rating-form__label .rating-form__star {
  background-image: url("../images/star-full.svg");
}

.rating-form__input:hover ~ .rating-form__label .rating-form__star {
  background-image: url("../images/star.svg");
}

.review__textarea {
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 100px;
  resize: none;
  width: 100%;
}

.errors {
  background: rgba(237, 65, 70, 0.1) none repeat scroll 0% 0%;
  border: 2px solid rgba(237, 66, 69, 0.5);
  border-radius: 8px;
  padding: 14px;
}

.errors li {
  list-style-type: none;
}

.errors:empty {
  display: none;
}